h2.section__title Methodology
.methodology__content
  img.methodology__img(src='images/svg/methodology-icon.svg')
  .methodology__text
    p.methodology__text-item
      | We gathered data from a number of sources, including the Census, the Bureau of Labor Statistics, the Federal Housing Finance Agency and dozens more to determine a state’s viability for those with low credit. Overall, states were ranked on 4 categories: Usury Laws; Prices; Financial health; and Presence of debt collectors. These rankings were then weighed to determine a final ranking. To understand why the states earned the ranking they did, it must be discussed why these criteria were chosen as important factors for those with low credit.

    p.methodology__text-item
      | Usury laws vary state to state and set a limit on how much a debtor can be charged in interest on a loan. Low credit scores tend to lead to high interest rates, so low maximum interest rates and solid usury laws are essential for living with low credit. Individual state usury laws were gathered by sourcing state financial codes.

    p.methodology__text-item
      | Prices affect the principle on a loan offered by a lender to a debtor. States with lower prices can be helpful for those with low credit scores, as loan amounts will tend to stay lower. Price figures were gathered by the Federal Housing Finance Agency, The Department of Education and The College Board. Home prices and tuition were used as a way to determine the average burden for the two most prominent loan types in the U.S. — mortgages and college loans.

    p.methodology__text-item
      | Financial health is an amalgam of statistics from the Bureau of Labor Statistics, the Census Bureau and Experian, such as median income, proportion of families earning below $50,000 and the current default rate. States that are financially healthy may be more likely to provide debtors with low credit scores and higher loan payouts the opportunity to earn more to pay back higher totals.

    p.methodology__text-item
      | The presence of debt collectors was gathered through the census. Debt collectors are a quality of life problem for many debtors with low credit scores. Those with low credit scores are more likely to default on loans and the absence of debt collectors can be helpful for them.

.methodology__sources.methodology__sources--indicators
  h3.methodology__sources-title
    | Sources:

  ul.methodology__sources-list
    li.methodology__sources-list-item
      a.methodology__sources-list-link(href="http://bls.gov/")
        | Bureau of Labor Statistics

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href="https://www.census.gov/")
        | United States Census

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href="http://www.haygroup.com/us/")
        | Hay Group Management Consulting

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href="https://www.experian.com/blogs/ask-experian/state-of-credit/")
        | Experian State of Credit Report

    li.methodology__sources-list-item
      | State Civil Codes

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href="http://debt.org/")
        | Debt.org

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href="https://www.nclc.org/")
        | National Consumer Law Center

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href="https://www.fhfa.gov/")
        | Federal Housing Finance Agency

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href="http://collegeboard.org/")
        | College Board
