.section__upper.section__upper--worst-states
  .section__upper-text
    h2.section__title.section__title--white.section__title--close
      | The 10 Worst States to Live in With Bad Credit

.rankings__wrapper.rankings__wrapper--red
  .rankings__item
    .rankings__item-header
      h3.rankings__item-title
        a.rankings__item-title-link(href="https://www.google.com/url?q=http://statelaws.findlaw.com/washington-law/washington-interest-rates-laws.html&sa=D&ust=1521815232934000&usg=AFQjCNF0J7Y8k9uQr3-SsrwFXmbOlSWSzA")
          | Washington

    .rankings__item-content
      .rankings__item-num-block
        p.rankings__item-num
          | 1

      p.rankings__item-text
        | Prices in Washington state are sky high. In-demand real estate and schools are making mortgages and school loans extremely expensive, especially for those with credit scores on the lower end. Even worse, legal usury rates are 1.5 times the national average. It’ll cost you; there aren’t many restrictions capping rates and weak state-specific laws against predatory lending.

  .rankings__item
    .rankings__item-header
      h3.rankings__item-title
        a.rankings__item-title-link(href="https://www.google.com/url?q=http://statelaws.findlaw.com/tennessee-law/tennessee-interest-rates-laws.html&sa=D&ust=1521815232932000&usg=AFQjCNHFQzvligkF_7AHiV00QXd8t6_jfg")
          | Tennessee

    .rankings__item-content
      .rankings__item-num-block
        p.rankings__item-num
          | 2

      p.rankings__item-text
        | Just about everything about the state makes Tennessee a tough place for people with bad credit. Price rises are slowing, but that’s just about the only thing the Volunteer State has going for it for those with low credit, ranking in the bottom half of every other category and serving up a maximum legal interest rate in the double digits.

  .rankings__item
    .rankings__item-header
      h3.rankings__item-title
        a.rankings__item-title-link(href="https://www.google.com/url?q=http://statelaws.findlaw.com/south-carolina-law/south-carolina-interest-rates-laws.html&sa=D&ust=1521815232938000&usg=AFQjCNFH4exfGIWb9nPlmOttisa-QQKjUw")
          | South Carolina

    .rankings__item-content
      .rankings__item-num-block
        p.rankings__item-num
          | 3

      p.rankings__item-text
        | Home and tuition prices are high, at 41st and 43rd in the country. Judgment loan rates are capped relatively well, at 12.75%, but South Carolina is pretty easy on payday and predatory lenders and the 8.75% maximum legal interest rate is above average - neither of which are doing those with low credit any favors.

  .rankings__item
    .rankings__item-header
      h3.rankings__item-title
        a.rankings__item-title-link(href="https://www.google.com/url?q=http://statelaws.findlaw.com/georgia-law/georgia-interest-rates-laws.html&sa=D&ust=1521815232917000&usg=AFQjCNGqnMNcU-QGC5_o2EQNws7kUmhw-Q")
          | Georgia

    .rankings__item-content
      .rankings__item-num-block
        p.rankings__item-num
          | 4

      p.rankings__item-text
        | Georgia has the 48th lowest average credit score statewide, according to TransUnion. Georgia’s a state with pretty poor history with credit, leading to the second-highest illegal debt collection complaint volume of any state in the nation. Also, the state has one of the highest maximum judgement usury rates, 30% higher than the national level. A person with poor credit is likely to take on higher interest rates and more debt, so higher maximum usury rates are unfriendly for consumers.

  .rankings__item
    .rankings__item-header
      h3.rankings__item-title
        | Florida

    .rankings__item-content
      .rankings__item-num-block
        p.rankings__item-num
          | 5

      p.rankings__item-text
        | The highest average home prices in the nation are found in Florida. Normally, such a high starting point would discourage high growth rates, but Florida home prices are still growing at one of the fastest rates in the nation. There are a high amount of collectors located in the state to capitalize on the state’s high mortgage payment delinquency. Also, Florida is more lax than most states when it comes to extremely consumer unfriendly payday loans.

  .rankings__item
    .rankings__item-header
      h3.rankings__item-title
        | New York

    .rankings__item-content
      .rankings__item-num-block
        p.rankings__item-num
          | 6

      p.rankings__item-text
        | Driven primarily by its downstate, New York is one of the most expensive states in the country. When consumers with poor credit take out loans, they’re often financing a purchase with a higher price point. With an incredibly high maximum interest rate of 16%, nearly twice the national average, it is one of the least consumer friendly states in the nation in terms of usury laws, as well. The only thing keeping New York from sliding further down the list is that it requires high scrutiny for debt collection licensure and it’s quite financially healthy.

  .rankings__item
    .rankings__item-header
      h3.rankings__item-title
        a.rankings__item-title-link(href="https://www.google.com/url?q=http://statelaws.findlaw.com/texas-law/texas-interest-rates-laws.html&sa=D&ust=1521815232920000&usg=AFQjCNE2Np1s3xV3Qlzqquji27dAYeI2uA")
          | Texas

    .rankings__item-content
      .rankings__item-num-block
        p.rankings__item-num
          | 7

      p.rankings__item-text
        | Everything's bigger in Texas. That includes the amount of debt collectors rolling around and the amount of interest you’re allowed to pay on a loan. The Lone Star State is a place on the rise, financially, and job and wage growth are on the way up. However, with judgement usury rates as high as 18%, it’s a still not a great spot to be for those with low credit.

  .rankings__item
    .rankings__item-header
      h3.rankings__item-title
        | Oregon

    .rankings__item-content
      .rankings__item-num-block
        p.rankings__item-num
          | 8

      p.rankings__item-text
        | It might not have the reputation as one, but Oregon is an expensive state. Home prices are rising at the sixth highest rate in the country and it also clocks in at number six in terms of highest cost of living. The number of debt collectors growing quickly and this influx has led to a fairly high level of debt related complaints to the CFPB, as well.

  .rankings__item
    .rankings__item-header
      h3.rankings__item-title
        | California

    .rankings__item-content
      .rankings__item-num-block
        p.rankings__item-num
          | 9

      p.rankings__item-text
        | The Golden State is the second-most expensive state in the country, after Hawaii. It has the second-highest priced homes in the country and in order to purchase these homes, Californians have taken on more average mortgage debt than any other state’s residents. The state also doesn’t require specific licensure for debt collection and there are more debt collectors in California than any other state.

  .rankings__item
    .rankings__item-header
      h3.rankings__item-title
        a.rankings__item-title-link(href="https://www.google.com/url?q=http://statelaws.findlaw.com/new-jersey-law/new-jersey-interest-rates-laws.html&sa=D&ust=1521815232912000&usg=AFQjCNEgMZRmdjryDXMcvOQ8MKrywA_fOw")
          | New Jersey

    .rankings__item-content
      .rankings__item-num-block
        p.rankings__item-num
          | 10

      p.rankings__item-text
        | New Jersey is home to the seventh-most debt collectors of any state in the country. It’s not a surprise, with legal maximum interest rates on contracts as high  country, respectively.

.btn__container.btn__container--red
  a.btn__main(href='/credit-full.html')
    span.btn__main-text.btn__main-text--red Click here too see the full ranking