h2.section__title
  | Helpful Tips For Every State

p.tips__under-title
  | Regardless of which state you reside in, living with bad credit is a challenge. Your credit score is used to determine whether or not you will be approved for lines of credit, loans, the apartment you want to rent and can even play a role in whether or not you get that job you’ve applied for. That is why it is imperative to begin taking action to improve your score immediately.

p.tips__under-title
  | While 
  a(href="https://www.rewardexpert.com/blog/4-new-years-resolutions-for-your-credit-cards/")
    | improving your credit score 
  | can be a long journey, it is definitely one worth taking. There are no simple “quick fixes” when it comes to addressing the issues found in your credit history. But there are a few things that you can do that will likely help you out of that hole down the line.

.tips
  .tips__item
    h3.tips__item-title
      | Get Informed

    p.tips__item-text
      | The absolute most important thing you should start with when addressing bad credit, is to obtain a copy of your credit report. Afterall, how can you make improvements to your credit-worthiness if you don’t know where the issues are?

    p.tips__item-text
      | You can obtain a free copy of your credit report each year from websites like 
      a(href="http://annualcreditreport.com/")
        | AnnualCreditReport
      | . Using the information found on this credit report will help you understand where you should be addressing some of the issues that are keeping your overall score lower than it could be.

  .tips__item
    h3.tips__item-title
      | Find and Address Errors

    p.tips__item-text
      | Once you have your credit report in hand, go through it with a fine-toothed comb and identify any 
      a(href="https://www.rewardexpert.com/blog/what-to-do-when-a-fraudulent-charge-is-discovered-on-your-credit-account/")
        | inaccuracies
      | . If an account reported that you made late payments, but you were always on time, despite that fact. If your report shows that you never paid off an account that you thought was taken care of long ago, bring it to their attention.

    p.tips__item-text
      | Each of these negative marks impacts your overall score. So if they are based on inaccuracies, filing a dispute and getting them corrected is well worth your time.

  .tips__item
    h3.tips__item-title
      | Request Increased Limits

    p.tips__item-text
      | Since 30% of your credit score is based off your current debt owed, any action you can take to improve this number will have a significant impact on your overall score. If making a large payment towards this balance is not feasible for you at the moment, consider another way of adjusting your credit utilization rate.

    p.tips__item-text
      | If you are currently maxed out on all of your credit cards, a simple call to each of your current creditors asking them to increase your limit would instantly improve this figure.

  .tips__item
    h3.tips__item-title
      | Negotiate Outstanding Balances

    p.tips__item-text
      | If you have a lot of collection accounts still showing up on your report as unresolved, it is a good idea to at least attempt to negotiate some kind of deal with those companies. Oftentimes, these accounts can be settled for pennies on the dollar, as creditors are happy to receive a negotiated settlement amount rather than nothing at all.

  .tips__item
    h3.tips__item-title
      | Keep Paid Accounts Open

    p.tips__item-text
      | Since 15% of your credit score is determined by your length of credit history, it is important to 
      a(href="https://www.rewardexpert.com/blog/this-is-why-you-shouldnt-close-down-your-credit-cards/")
        | keep your older accounts open
      | . Even after you have paid an account in full, allowing that account to stay open and active will only improve your score.

    p.tips__item-text
      | Here are some great cards that have 
      a(href="https://www.rewardexpert.com/credit-cards/categories/no-annual-fee-credit-cards")
        | no annual fee
      | , so it won’t cost you anything to keep the account open even if you have paid off your balance:

    ul.tips__item-card-list
      li.tips__item-card-list
        a.tips__item-card-link(href="https://www.rewardexpert.com/credit-cards/cards/chase-freedom-card")
          | Chase Freedom Card

      li.tips__item-card-list
        a.tips__item-card-link(href="https://www.rewardexpert.com/credit-cards/cards/quicksilver-cash-rewards-credit-card")
          | Quicksilver Cash Rewards Credit Card

      li.tips__item-card-list
        a.tips__item-card-link(href="https://www.rewardexpert.com/credit-cards/cards/citi-thankyou-preferred-card")
          | Citi ThankYou Preferred Card

  .tips__item
    h3.tips__item-title
      | Keep Paid Accounts Open

    p.tips__item-text
      | If all else fails, you can always try getting added as an authorized user on a family member’s account. Of course, that requires an understanding family member who wants to help and is willing to take the risk.

    p.tips__item-text
      | Here are some credit cards you might want to 
      a(href="https://www.rewardexpert.com/blog/here-are-a-few-tips-when-applying-for-a-credit-card/")
        | consider applying 
      | for if you are struggling with a less than perfect credit score:

    ul.tips__item-card-list
      li.tips__item-card-list
        a.tips__item-card-link(href="https://www.rewardexpert.com/credit-cards/cards/skypass-visa-signature-card")
          | Skypass Visa Signature

      li.tips__item-card-list
        a.tips__item-card-link(href="https://www.rewardexpert.com/credit-cards/cards/bankamericard-credit-card")
          | BankAmericard Credit Card
