.upper__content
  .upper__pic
    img(src='images/svg/main-icon.svg')

  p.upper__text-under-title
    | We’ve all heard the credit horror stories. If you don’t know how to manage your credit or find yourself the victim of a credit-damaging fraud, you can find your credit scores plummeting. And plenty of people are going to be looking at those credit scores, especially when considering your loan worthiness. Chances are, if your scores are low, your interest will be high. A 0.5% rise in a mortgage rate might not seem like a lot, but with 30 years to accrue interest and tens of thousands in principle, that rise is going to cost you.

  p.upper__text-main
    | Many of us are living with bad credit scores. There’s a lot we can do to boost those scores, but most of them won’t change overnight. Like it or not, many of us just have to live with bad credit. If you live with bad credit, there are certain locations that will make your life easier and some that will make it much more difficult. At RewardExpert, we sought out to find which states were the best places for someone living with bad credit, and which ones were the worst.

  .upper__info
    p.main-text.main-text--semibold
      | We looked at a series of five factors to determine our rankings:

    ul.upper-info__list
      li.upper-info__item
        p.upper-info__item-text
          span.semibold
            | Life expenses 

          |— As expenses rise, loan totals go up, too. The more expensive a home, the more a lendee is going to need.

      li.upper-info__item
        p.upper-info__item-text
          span.semibold
            | Consumer friendliness of usury laws 

          |— Usury laws are put in place to limit predatory lending and the more consumer-friendly limits put in place to curb predatory lending, the easier it is to live with poor credit.

      li.upper-info__item
        p.upper-info__item-text
          span.semibold
            | Status of debt collectors 

          |— The status of debt collectors, in terms of licensure and density, affects the ease of living with poor credit. When a state has fewer and more well-trained collectors, a debtor is less likely to get hassled illegally.

      li.upper-info__item
        p.upper-info__item-text
          span.semibold
            | State financial health 

          |— Financial health is important for people with low credit. A state with better paying jobs is more likely to offer a debtor the wages they need to pay back loans.

      li.upper-info__item
        p.upper-info__item-text
          span.semibold
            | Complaints per capita 

          |— Lastly, a state with a solid history of avoiding complaints is a safer bet for those with low credit.

    p.main-text
      | We took a look at how each state stacked up in those categories and found the top ten best and worst states to live in if you have bad credit.